@model ObsUygulaması.Models.Ogrenci

@{
    ViewBag.Title = "Öğrenci Sil";
}

<h2>Öğrenci Sil</h2>

<h3>Bunu silmek istediğinizden emin misiniz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ad Soyad : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            Öğrenci Numarası : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            Bölümü : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolum)
        </dd>

        <dt>
            Mail Adresi : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            Telefon Numarası : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            Adres : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Şifre : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Önceki Sayfa", "Index")
        </div>
    }
</div>
